@import "./module/vars";
@import "./module/reset";

.container {
    width: 1000px;
    margin: 0 auto;
}

.intro {
    background-image: url("./images/intro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper {
        padding: 130px 0;
    }
    &__title {
        font-family: $main-font;
        font-size: 90px;
        letter-spacing: 0.03em;
        color: #fff;
    }
    &__subtitle {
        font-family: $main-font;
        font-size: 36px;
        color: #fff;
        font-weight: 400;
    }
}

.header {
    background-color: #000;
    color: #fff;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    &__right-side {
        margin: auto 0;
        display: flex;
    }
    &__socials {
        margin-left: 30px;
    }
}

.logo {
    font-family: $main-font;
    font-size: 48px;
}
.navigation {
    margin: auto 0;
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__link {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-family: $main-font;
        font-size: 18px;
        color: #fff;
        transition: all 0.1s linear;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }
    }
}

.socials {
    display: flex;
    &__icon {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__icon img {
        border-radius: 50%;
        transition: all 0.1s linear;
        &:hover {
            background-color: $main-color;
        }
    }
}

.works {
    background-color: $main-color;
    &__title {
        font-family: $main-font;
        color: #fff;
        font-size: 48px;
        text-align: center;
        padding-top: 50px;
    }
    &__nav-list {
        text-align: center;
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    &__nav-link {
        margin-right: 5px;
        font-size: 24px;
        font-family: $main-font;
        color: #fff;
        transition: all 0.1s linear;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #000;
        }
    }
}

.pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.picture {
    position: relative;
    cursor: pointer;
    display: flex;
    & > img {
        &:hover {
            opacity: 0.5;
        }
    }
    &__zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            &:hover {
                filter: drop-shadow(2px 4px 6px black);
            }
        }
    }
    &__other {
        position: absolute;
        bottom: 10%;
        left: 50%;
        display: flex;
        transform: translate(-50%, 0);
        img {
            padding: 10px;
            &:hover {
                filter: drop-shadow(2px 4px 6px black);
            }
        }
    }
}

.quote {
    background-image: url("./images/quote-photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote__fig {
    padding: 120px 0 40px;
}

.quote__box {
    font-family: $main-font;
    font-size: 36px;
}

.qmark {
    font-size: 100px;
    vertical-align: middle;
}
.quote__caption {
    font-family: $main-font;
    font-size: 24px;
    text-align: end;
}

.news {
    background-color: #cdcdcd;
    &__wrapper {
        display: flex;
        padding-bottom: 55px;
    }
    &__articles {
        flex: 1 1 0;
        padding-right: 60px;
    }
    &__other {
        flex: 1 1 0;
        padding-left: 60px;
    }
}

.main-title {
    font-size: 48px;
    font-family: $main-font;
    text-align: center;
    padding: 55px 0;
}

.news-article {
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
    }
    &__date {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        color: #fff;
        background-color: $main-color;
        padding: 7px 20px;
    }
    &__tags {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-style: italic;
        font-weight: 600;
        color: $bright-color;
        margin: auto 0;
        a:hover {
            border-bottom: 1px solid $bright-color;
        }
    }
    &__title {
        color: $main-color;
        margin-bottom: 10px;
    }
    &__image {
        margin-bottom: 15px;
    }
    &__text {
        color: #666767;
    }
}

.read-more {
    text-align: end;
    color: $bright-color;
    a:hover {
        border-bottom: 1px solid $bright-color;
    }
}

.fa-tags {
    margin-right: 10px;
}

.tags {
    &__title {
        text-transform: uppercase;
        color: $main-color;
        font-family: $main-font;
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 25px;
        margin-bottom: 22px;
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__label {
        background-color: $main-color;
        color: #fff;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 14px;
        &:hover {
            background-color: $bright-color;
        }
    }
}

.news__blog-content {
    margin-top: 57px;
}

.blog-content {
    &__title {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        margin-bottom: 20px;
        span {
            font-style: normal;
            text-transform: uppercase;
        }
    }
}

.blog-article {
    display: flex;
    &__image {
        padding: 0 15px;
    }
    &__date {
        color: $bright-color;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.companies {
    background-color: #bebebe;
}

.companies-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 75px 0;
    img:hover {
        filter: brightness(0.5);
    }
}

.bio {
    background-color: $bright-color;
    &__info {
        color: #fff;
        display: flex;
        padding-bottom: 55px;
    }
    &__name {
        font-family: $main-font;
        font-size: 36px;
        text-align: center;
    }
    &__ava {
        margin: 25px 0;
    }
    &__socials {
        justify-content: center;
    }
}

.bio__right {
    padding-left: 115px;
}

.footer {
    background-image: url("./images/contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    &__tel {
        font-size: 48px;
        font-family: $main-font;
        color: #fff;
        &:hover {
            color: #000;
        }
    }
    &__mail {
        font-size: 48px;
        font-family: $main-font;
        color: #fff;
        display: inline-block;
        border: 5px solid #fff;
        padding: 20px 125px;
        margin: 25px 0;
        &:hover {
            color: #000;
            background-color: #fff;
        }
    }
    &__address {
        font-size: 48px;
        font-family: $main-font;
        color: #fff;
    }
    &__copyright {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        margin-top: 100px;
        padding-bottom: 30px;
    }
}

@import "./module/mobile";