@import "./vars";

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $default-font;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin:0;
    padding: 0;
}

figure {
    margin: 0;
}

blockquote {
    margin: 0;
}